<%- include('partials/header') %>
<!-- <link rel="stylesheet" href="css/styles.css" /> -->
<%- include('partials/nav') %>

<div style="min-height: 80vh;">
    <h2 style="text-align:center">Our Team</h2>
	<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
		<div >
			<div class="card" style="width: 18rem;">
				<img src="https://avatars.githubusercontent.com/u/60768098?s=400&u=1d32edd0142b8d217721f73c84efd4628ff95d03&v=4" class="card-img-top">
				<div class="card-body">
					<h3>MAYANK JINDAL</h3>
					<!-- <p class="title">Project Lead | Frontend Developer</p> -->
					<p>mayank712jindal@gmail.com</p>
				</div>
			</div>
		</div>

		<div >
			<div class="card" style="width: 18rem;">
				<img src="https://avatars.githubusercontent.com/u/67154697?s=460&u=69b92694c495b8357f7ca1266c2bc1b7b4e1a8ee&v=4" class="card-img-top">
				<div class="card-body">
					<h3>YASHITA KHURANA</h3>
					<!-- <p class="title">Back End Developer</p> -->
					<p>yashita1109.cse19@chitkara.edu.in</p>
				</div>
			</div>
		</div>

		<div >
			<div class="card" style="width: 18rem;">
				<img src="https://avatars.githubusercontent.com/u/64965976?s=400&u=91446b4e473f1a539cf8a19702a18e4df4783f81&v=4" class="card-img-top">
				<div class="card-body">
					<h3>ANIRUDH SHARMA</h3>
					<!-- <p class="title">Front End Development</p> -->
					<p>anirudh1138.be20@chitkara.edu.in</p>
				</div>
			</div>
		</div>
        <div >
			<div class="card" style="width: 18rem;">
				<img src="https://avatars.githubusercontent.com/u/72244964?s=460&u=4d93d85738e539b76c55bc90654b02cfeedb07e7&v=4" class="card-img-top">
				<div class="card-body">
					<h3>CHIRAG JAIN</h3>
					<!-- <p class="title">Front End Development</p> -->
					<p>chirag0174.be20@chitkara.edu.in</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer') %>