<%- include('partials/header') %>
<link rel="stylesheet" href="css/styles.css"
<%- include('partials/nav') %>
 
<div class="hero-text-box">
    <h1 class="heading">Your city in <br>your pocket</h1>
    <p id="hero-para">Everything under one roof.</p>
</div>
</header>
    <div class="container">
		<h2>All Products and Services</h2>
		<div class="card-columns">
			<div class="card">
				<a href="grocery.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/groceries.png" />
						<p class="card-text">Grocery</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="harvest.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/harvest.png" />
						<p class="card-text">Fruits & Vegetables</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="business.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/business.png" />
						<p class="card-text">Business Services</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="donation.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/donate.png" />
						<p class="card-text">Donation/Charity</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="repair.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/repair-tools.png" />
						<p class="card-text">Repair & Services</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="bills.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/receipt.png" />
						<p class="card-text">Bill Payment</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="ticket.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/ticket.png" />
						<p class="card-text">Tickets</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="property.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/assets.png" />
						<p class="card-text">Property</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="bank.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/bank.png" />
						<p class="card-text">Banking Services</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="pickdrop.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/pickdrop.png" />
						<p class="card-text">Pick & Drop</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="jobs.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/job-search.png" />
						<p class="card-text">Jobs</p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="insurance.php">
					<div class="card-body text-center">
						<img class="card-img" src="images/safe.png" />
						<p class="card-text">Insurance</p>
					</div>
				</a>
			</div>
		</div>
	</div>

    <%- include('partials/footer') %>