<%- include('partials/header')  %> 
<link rel="stylesheet" href="css/login.css"
<%- include('partials/nav') %>

<section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" /></div>
        <div class="formBx">
          <form action="/login" method="POST">
            <h2>Sign In</h2>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="email" placeholder="Password" />
            <input type="submit" name="pwd" value="Login" />
            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="/signup" method="POST">
            <h2>Create an account</h2>
            <input type="text" name="username" placeholder="Username" />
            <input type="email" name="email" placeholder="Email Address" />
            <input type="password" name="pwd" placeholder="Create Password" />
            <input type="password" name="confrmpwd" placeholder="Confirm Password" />
            <input type="submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg" alt="" /></div>
      </div>
    </div>
  </section>

  <script>
      const toggleForm = () => {
  const container = document.querySelector('.container');
  container.classList.toggle('active');
};
  </script>
  <%- include('partials/footer')  %> 