<%- include('partials/header') %>
<!-- <link rel="stylesheet" href="css/repair.css" -->
<%- include('partials/nav') %>

<div class="container">
    <h2>Repair & Services</h2>
    <div class="card-columns">
        <div class="card">
            <a href="service.php?#ro">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/ro-purifier.png" />
                    <p class="card-text">RO Repair/Service</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#ac">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/air-conditioner.png" />
                    <p class="card-text">AC Repair/Service</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#inverter">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/inverter.png" />
                    <p class="card-text">Inverter Repair</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#washing">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/washing-machine.png" />
                    <p class="card-text">Washing Machine Repair/Service</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#electrician">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/electrician.png" />
                    <p class="card-text">Electrician</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#plumber">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/plumber.png" />
                    <p class="card-text">Plumber</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#microwave">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/microwave.png" />
                    <p class="card-text">Microwave Repair</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#refrigerator">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/refrigerator.png" />
                    <p class="card-text">Refrigerator Repair</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="service.php?#watertank">
                <div class="card-body text-center">
                    <img class="card-img" src="/images/tank.png" />
                    <p class="card-text">Water Tank Cleaning</p>
                </div>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>