<%- include('partials/header') %>
<!-- <link rel="stylesheet" href="css/repair.css" -->
<%- include('partials/nav') %>

<h2>Ticket Booking</h2>
	<p class="explain">Want to book tickets for your next trip.<br>
		We got your back. Choose the category and we'll help you out.
	</p>
	<form method="POST" action="/ticket">
		<div class="form-group row">
			<label for="inputName" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputName" name="inputName">
			</div>
		</div>
		<div class="form-group row">
			<label for="inputContact" class="col-sm-2 col-form-label">Contact No</label>
			<div class="col-sm-10">
				<input type="tel" class="form-control" id="inputContact" name="inputContact">
			</div>
		</div>
		<fieldset class="form-group">
			<div class="row">
				<legend class="col-form-label col-sm-2 pt-0">Tickets required for</legend>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="gridRadio" id="gridRadio1"
							value="Train Booking">
						<label class="form-check-label" for="gridRadio1">
							Train Booking
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="gridRadio" id="gridRadio2"
							value="Bus Tickets">
						<label class="form-check-label" for="gridRadio2">
							Bus Tickets
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="gridRadio" id="gridRadio3"
							value="Air Tickets">
						<label class="form-check-label" for="gridRadio3">
							Air Tickets
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="gridRadio" id="gridRadio4"
							value="Movie/Amusement Parks">
						<label class="form-check-label" for="gridRadio4">
							Movie/Amusement Parks
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="gridRadio" id="gridRadio5"
							value="International Trip">
						<label class="form-check-label" for="gridRadio5">
							International Trip
						</label>
					</div>
				</div>
		</fieldset>
		<div class="form-group row">
			<label for="inputQuery" class="col-sm-2 col-form-label">Please specify the details</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputSomethingnew" name="inputSomethingnew">
			</div>
		</div>
		<div class="form-group row">
			<label for="inputQuery" class="col-sm-2 col-form-label">Looking for something else?</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputSomething" name="inputSomething">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10" style="text-align:center;">
				<button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
			</div>
		</div>
	</form>

<%- include('partials/footer') %>