#hero-para, .heading{
  color: black;
}
#regForm {
    background-color: #ffffff;
    margin: 30px auto;
    font-family: Raleway;
    padding: 10px 20px;
    width: 50%;
    min-width: 300px;
    display: none;
  }
  #regForm1 {
    background-color: #ffffff;
    margin: 30px auto;
    font-family: Raleway;
    padding: 10px 20px;
    width: 50%;
    min-width: 300px;
    display:none;
  }
  #btnSubmitCandidate{
    visibility: hidden;
    margin: auto;
  }
  #btnSubmitEmployer{
    visibility: hidden;
    margin: auto;
    margin-bottom: 10px;
  }
  #btnCandidate{
    margin: 2px;
    min-width: 180px;
  }
  #btnEmployer{
    margin: 2px;
    min-width: 180px;
  }
  h1 {
    text-align: center;
  }
  #disp{
    display:none;
  }
  span{
    font-size: 20px;
  }
  input {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-family: Raleway;
    border: none;
    border-bottom: 1px solid black;
  }
  input[type="radio"],input[type="checkbox"] {
    padding: 0px !important;
    width: 40px !important;
    font-size: 25px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
  